body{
	background-color: 
}

.grid{
	width: 500px;
	height: 400px;
	background-color: #6221ef;
	padding: 15px 60px 60px 60px;
	border-radius: 40px;
	border: 3px solid #;
	box-shadow: 15px 20px 10px #;
}

.grid h1{
	font-family: Lucida Sans Unicode;
	background-color: #3e0d54;
	font-size: 25px;
	text-align: center;
	color: white;
	padding: 2px 0px;
	border-radius: 60px;
}

.grid #question{
	font-family: Lucida Sans Unicode;
	font-size: 15px;
	color: gray;
}

.buttons{
	margin-top: 25px;
}

#button1, #button2, #button3, #button4{
	background-color: #061d7a;
	width: 250px;
	font-size: 15px;
	color: red;
	border: 2px solid #00e9ff;
	border-radius: 60px;
	margin: 15px 35px 15px 5px;
	padding: 15px 15px;
}

#button1:hover, #button2:hover, #button3:hover, #button4:hover{
	cursor: pointer;
	background-color: #b2ff00;
	border: 2px solid #ff0000;
}

#button1:focus, #button2:focus, #button3:focus, #button4:focus{
	outline: 0;
}

#score{
	color: #4c0000;
	font-size: 20px;
}